@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
  font-family: "Roboto";
  box-shadow: none;
  margin: -8px;
  overflow: hidden;
}

.barcode-input {
  display: inline-block;
  border-radius: 5px;
  border: 0.1px solid rgba(143, 141, 141, 0.5);
  padding: 10px;
  height: 10px;
  color: rgba(100, 100, 100, 0.5);
  width: calc(100% - 30px);
  -webkit-user-select: none;
}

.wrapper {
  padding: 8px;
}

.right {
  float: right;
  text-align: right;
}

div.menu {
  padding: 10px;
  background-color: gray;
  -webkit-user-select: none;
  cursor: default;
  text-align: right;
}

div.menu > span {
  cursor: pointer;
  padding: 5px;
  margin: 5px;
  transition: color 200ms ease, background-color 200ms ease;
  border-radius: 50%;
}

div.menu > span.title {
  float: left;
  letter-spacing: 0.05em;
  cursor: default;
}

span.fullscreen:hover {
  color: white;
  background-color: #1E88E5;
}

span.close:hover {
  color: white;
  background-color: #F44336;
}

span.resize:hover {
  color: white;
  background-color: #673AB7;
}

span.collapse:hover {
  color: white;
  background-color: #009688;
}

span.dragger {
  float: left;
  cursor: default;
  -webkit-app-region: drag;
}

.barcode-input:focus {
  outline: none;
}

ul.items > li.item {
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.1em;
  text-align: left;
}

ul.items {
    display: inline-block;
    height: 95%;
    width: calc(100% - 16px);
    padding: 5px;
    list-style-type: none;
    border: 1px solid lightgray;
    border-radius: 3px;
    cursor: default;
    -webkit-user-select: none;
}

ul.items > li.item > span.price {
  float: right;
  letter-spacing: 1px;
  display: inline;
}

ul.items > li.item > span.price > input {
  font-style: italic;
  padding: 5px;
  padding-top: 0;
}

ul.items > li.item > .material-icons {
  font-size: 18px;
  font-style: italic;
  display: inline;
}
